extends layout

block content

  h1
    i.fas.fa-sun
    | #{title}
  h3#output Welcome to #{title}
  #table-wrapper
    table
      tr
        select#city1(onchange="updateCity('city1')")
          option(value='Sydney') Sydney
          option(value='Melbourne') Melbourne	
          option(value='Brisbane') Brisbane
          option(value='Adelaide') Adelaide
          option(value='Perth') Perth
      span.and and 
      tr
        select#city2(onchange="updateCity('city2')")
          option(value='Brisbane') Brisbane
          option(value='Melbourne') Melbourne	
          option(value='Sydney') Sydney
          option(value='Adelaide') Adelaide
          option(value='Perth') Perth
    hr
    h3#city1Name
    table
      tr
        td#city1I
        td#city1Icon
      tr
        td#city1Temp loading...
        td#city1Type
      tr
        td#city1MaxMin      
        td#city1Wind 
    hr
    h3#city2Name
    table
      tr
        td#city2I
        td#city2Icon
      tr
        td#city2Temp loading...
        td#city2Type
      tr
        td#city2MaxMin      
        td#city2Wind 