link(rel="stylesheet", href="/styles/nav.css")
input#menuTrigger(type='checkbox')
nav.menu
    label.trigger(for='menuTrigger')
        .line
        .line
        .line
    ul.links
        li.link
            a(href='/') Home
        li.link
            a(href='https://samueljim.com') About Me