@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto:300');
body {
  padding: 50px;
  font: 14px sans-serif;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  background-color: #303f9f94;
}

a {
  color: rgb(170, 31, 31);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Libre Baskerville', serif;
}

h1::before {
  padding-left: 20px;
}
